<h6>Recent Training Sessions</h6>
<table class="table table-bordered table-sm">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Type</th>
      <th scope="col">Instructor</th>
      <th scope="col">Duration</th>
      <th scope="col" class="text-center">Details</th>
    </tr>
  </thead>
  <tbody>
    <% if @sessions.empty? %>
    <tr>
      <td colspan="5" class="text-center">
        <i>None</i>
      </td>
    </tr>
    <% end %>
    <% @sessions.each do |session| %>
    <tr>
      <td><%= session.started_at.strftime('%m-%d-%Y')%></td>
      <td><%= session.type %></td>
      <td><%= session.instructor %></td>
      <td><%= distance_of_time_in_words(session.started_at, session.ended_at) %></td>
      <td class="text-center">
        <%= link_to 'View', training_session_path(session) %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
