<%= f.fields_for :notes do |ff| %>
  <% unless ff.object.persisted? %>
    <tr class="row">
      <td class="col-3">
        Feedback
      </td>
      <td class="col-9">
        <%= ff.text_area :comment, class: 'form-control' %>
        <% if ff.object.errors.include? :comment %>
          <div class="small text-danger">
            Comment <%= ff.object.errors[:comment].join(', ') %>
          </div>
        <% end %>
      </td>
    </tr>
    <tr class="row">
      <td class="col-3 border-0">
        Staff Comments
      </td>
      <td class="col-9 border-0">
        <%= ff.text_area :staff_comment, class: 'form-control' %>
        <% if ff.object.errors.include? :staff_comment %>
          <div class="small text-danger">
            Staff Comment <%= ff.object.errors[:staff_comment].join(', ') %>
          </div>
        <% end %>
      </td>
    </tr>
    <tr class="row">
      <td class="col-12 text-center border-0" colspan="2">
        <%= f.submit "Add", class: 'btn btn-success' %>
      </td>
    </tr>
  <% end %>
<% end %>
