<%= yield content_for(:title, "- New Training Session") %>

<h6>New Training Session</h6>

<%= form_for @session do |f| %>
  <table class="table table-sm">
    <tbody>
      <tr class="row">
        <td class="col-3">
          Instructor
        </td>
        <td class="col-9">
          <%= current_user %>
          <% if @session.errors.include? :instructor %>
            <div class="small text-danger">
              Instructor <%= @session.errors[:instructor].join(', ') %>
            </div>
          <% end %>
        </td>
      </tr>
      <tr class="row">
        <td class="col-3">
          Student
        </td>
        <td class="col-9">
          <%= f.select :user_id, options_from_collection_for_select(User.all.order(:last_name), :id, :to_s, (@session.user.present? ? @session.user.id : nil)) %>
          <% if @session.errors.include? :user %>
            <div class="small text-danger">
              Student <%= @session.errors[:user].join(', ') %>
            </div>
          <% end %>
        </td>
      </tr>
      <tr class="row">
        <td class="col-3">
          Training Block
        </td>
        <td class="col-9">
          Progress here...
        </td>
      </tr>
      <tr class="row">
        <td class="col-3">
          Session Type
        </td>
        <td class="col-9">
          <%= f.select :type_id, options_from_collection_for_select(Training::Type.all.order(:name), :id, :to_s, @session.type) %>
          <% if @session.errors.include? :type %>
            <div class="small text-danger">
              Session type <%= @session.errors[:type].join(', ') %>
            </div>
          <% end %>
        </td>
      </tr>
      <tr class="row">
        <td class="col-3">
          Start Time
        </td>
        <td class="col-9">
          <%= f.datetime_select :started_at %> UTC
          <% if @session.errors.include? :started_at %>
            <div class="small text-danger">
              Start time <%= @session.errors[:started_at].join(', ') %>
            </div>
          <% end %>
        </td>
      </tr>
      <tr class="row">
        <td class="col-3">
          End Time
        </td>
        <td class="col-9">
          <%= f.datetime_select :ended_at %> UTC
          <% if @session.errors.include? :ended_at %>
            <div class="small text-danger">
              End time <%= @session.errors[:ended_at].join(', ') %>
            </div>
          <% end %>
        </td>
      </tr>
      <%= render 'note_fields', f: f %>
      <tr class="row">
        <td class="col-12 text-center border-0" colspan="2">
          <%= f.submit "Save", class: 'btn btn-success' %>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>
