<!DOCTYPE html>
<html>
  <head>
    <title><%= site_title %> <%= yield :title %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="d-none d-lg-block masthead">
        <div class="masthead-text">
          <h1 class="align-middle display-4 mb-0"><%= site_title %></h1>
          <p class="lead d-none d-lg-block">
            <%= site_slogan %>
          </p>
        </div>
      </div>

      <%= render partial: "layouts/navbar" %>
      <%= render partial: "layouts/alerts" %>
    </header>

    <main role="main" class="container">
      <div class="row pt-1 pb-0"></div>

      <div class="row pt-0">
        <div class="col-lg-3 order-2 order-lg-3">
          <%= render partial: "sidebar/main" %>
        </div>

        <div class="col-lg-9 order-1 order-lg-9">
          <%= yield %>
        </div>
      </div>
    </main>

    <%= render partial: "layouts/footer" %>
  </body>
</html>
